h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.navbar {
  padding: 0 2% 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #403761;
}

.contenedorBotones {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 40%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 2px 0;
}

.botones {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background: none;
  color: white;
}

.botones:hover {
  cursor: pointer;
  color: #a022c7;
}

.logo {
  justify-self: flex-start;
  border: solid 2px white;
  border-radius: 8px;
  padding: 6px;
  color: white;
  font-style: italic;
  font-weight: 100;
}
