.card {
  width: 90%;
  height: 100%;
  /* border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
  /* overflow: hidden; */
  margin: 20px;
  text-align: center;
  transition: all 0.25s;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.imgCard {
  height: 85%;
}

/* .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
} */

.segCont {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;

  border: 0.5px solid gray;
  border-radius: 10px;
  padding: 1px;

  /* height: 130px; */
}

.tituloCard {
  font-family: "Roboto", sans-serif;
  color: grey;
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center;

  width: 100%;
  border-bottom: 1px solid grey;
  padding: 25px;
}

.miniCont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.descCard {
  font-family: "Roboto", sans-serif;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: grey;
  font-weight: 200;
}

.miniCont2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  width: 100%;
  padding: 20px;
  height: 60%;
  gap: 25px;
}

.precioCard {
  font-family: "Roboto", sans-serif;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: grey;
  font-weight: 300;
  width: 50%;
  /* height: 35.84px; */
}

.btnCard {
  font-family: "Roboto", sans-serif;
  color: #790068;
  background-color: white;
  border: 0.5px solid #790068;
  border-radius: 2px;
  font-size: 1.3rem;
  padding: 2px 5px 2px 5px;
  margin: 2px 0px 5px 0px;
  width: max-content;
}

.btnCard:hover {
  cursor: pointer;
  background-color: #790068;
  color: white;
}
