.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80%;

    /* background-color: #40376178; */
    border-radius: 15px;

    height: 250px;
}

.subCont{
    display: flex;
    align-items: center;
}

.btnCard{
    font-family: 'Roboto', sans-serif;
    color: #790068;
    background-color: white;
    border: 0.5px none #403761;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 2px 5px 2px 5px;
    margin: 2px 0px 5px 0px;
    /* width: max-content; */
}

.btnCardOp{
    min-width: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #4037618b;
    border: 0.5px none #403761;
    border-radius: 12px;
    font-size: 1rem;
    padding: 2px 5px 2px 5px;
    margin: 2px 0px 5px 0px;
}

/* Clase experimental de los botones suma y resta */
.btnCounter{
    font-family: 'Roboto', sans-serif;
    color: #790068;
    background-color: white;
    border: 0.5px solid #403761;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0 5px 0 5px;
    margin: 2px 0px 5px 0px;
}

.contador{
    font-family: 'Roboto', sans-serif;
    padding: 0 2px 0 2px;
    color: #403761;
    font-size: 1.3rem;
}

.btnCard:hover{
    cursor: pointer;
    background-color: #790068;
    color: white;
}

.btnCardOp:hover{
    cursor: pointer;
    background-color: #790068;
    color: white;
}